@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-emerald-950 text-white antialiased;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}